/* Personal Website Stylesheet */

@charset "UTF-8";


/* FONTS */
@font-face {
    font-family: geoform;
    src: url(fonts/Geoform.otf);
}

@font-face {
    font-family: lemonmilk;
    src: url(fonts/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: pixel;
    src: url(fonts/EditUndo.ttf);
}

/* VARIABLES */
:root {}

/* MAIN STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: geoform, Arial, Helvetica, sans-serif;
}

body {
    background-color: #0C0C0C;
    color: #D3DAD9;
}

h1 {
    font-size: 30pt;
}

header {
    background-color: #37353E;

    padding: 20px;

    text-align: center;
    font-size: 26px;
}

nav {
    background-color: #021526;
    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0px 10px 10px #021526;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav li button {
    display: block;

    background-color: unset;
    border: unset;

    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 900;

    padding: 20px;
    transition: background-color 0.5s ease;
}

nav li button:hover {
    background-color: #858585;

    cursor: pointer;
}

main {
    display: flex;
}

hr {
    height: 2px;
    width: 80%;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

/* CLASSES */

.content-box {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 25px;

    margin-left: 20%;
    margin-right: 20%;
}

.content-row {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 25px;
}

.content-box p {
    margin-bottom: 15px;
}

.c-row {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-b {
    font-weight: bold;
}

.text-bb {
    font-weight: bolder;
}


.title {
    float: left;
    font-family: pixel;
}

.ib-center {
    display: inline-block;
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
}

.bigtitle {
    font-family: monospace;
}

/* ID'S */

#cursor-blink {
    font-family: inherit;
    animation-name: 'cursor_blinking';
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

/* RESPONSIVES */
@media screen and (max-width: 1000px) {
    nav {

        display: inline-block;
        width: 100%;
    }

    .title {
        float: none;
        text-align: center;
    }

    nav ul li {
        display: inline;
    }

    nav ul li button {
        margin: auto;
    }

    nav ul {
        float: none;
    }
}

@keyframes cursor_blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}